AIDump.txt
Logs  
Mods
MonoBleedingEdge
TerraInvicta.exe
UnityCrashHandler64.exe
UnityPlayer.dll

TerraInvicta_Data/StreamingAssets/.DS_Store

TerraInvicta_Data/app.info
TerraInvicta_Data/globalgamemanagers.assets.resS
TerraInvicta_Data/Plugins
TerraInvicta_Data/RuntimeInitializeOnLoads.json
TerraInvicta_Data/sharedassets1.assets
TerraInvicta_Data/boot.config
TerraInvicta_Data/level0
TerraInvicta_Data/Resources
TerraInvicta_Data/ScriptingAssemblies.json
TerraInvicta_Data/sharedassets1.assets.resS
TerraInvicta_Data/globalgamemanagers
TerraInvicta_Data/level1
TerraInvicta_Data/resources.assets
TerraInvicta_Data/sharedassets0.assets
TerraInvicta_Data/globalgamemanagers.assets
TerraInvicta_Data/resources.assets.resS
TerraInvicta_Data/sharedassets0.assets.resS
TerraInvicta_Data/Managed

TerraInvicta_Data/StreamingAssets/AssetBundles
TerraInvicta_Data/StreamingAssets/Game_SFX.assets.bank
TerraInvicta_Data/StreamingAssets/Master.assets.bank
TerraInvicta_Data/StreamingAssets/Music.assets.bank
TerraInvicta_Data/StreamingAssets/Templates
TerraInvicta_Data/StreamingAssets/Voice.assets.bank
TerraInvicta_Data/StreamingAssets/Audio
TerraInvicta_Data/StreamingAssets/Game_SFX.bank
TerraInvicta_Data/StreamingAssets/Master.bank
TerraInvicta_Data/StreamingAssets/Music.bank
TerraInvicta_Data/StreamingAssets/UI_SFX.assets.bank
TerraInvicta_Data/StreamingAssets/Voice.bank
TerraInvicta_Data/StreamingAssets/Config
TerraInvicta_Data/StreamingAssets/Master.strings.bank
TerraInvicta_Data/StreamingAssets/Namelists
TerraInvicta_Data/StreamingAssets/UI_SFX.bank

TerraInvicta_Data/StreamingAssets/Localization/chs
TerraInvicta_Data/StreamingAssets/Localization/cht
TerraInvicta_Data/StreamingAssets/Localization/deu
TerraInvicta_Data/StreamingAssets/Localization/en
TerraInvicta_Data/StreamingAssets/Localization/fr
TerraInvicta_Data/StreamingAssets/Localization/jpn
                  
